---
# tasks file for ic_it.deploy_ic_it_ssh_keys

- name: set the authorized keys
  ansible.posix.authorized_key:
    user: "{{ user_to_deploy_ssh_keys }}"
    state: present
    key: "{{ item }}"
  with_items: "{{ ic_it_ssh_keys_present }}"

- name: revoke the keys that should be revoked
  ansible.posix.authorized_key:
    user: "{{ user_to_deploy_ssh_keys }}"
    state: absent
    key: "{{ item }}"
  with_items: "{{ ic_it_ssh_keys_absent }}"
